#header {position: fixed;top:0;left:0;width:100%;height: 48px;border-radius:none;z-index:102}
#header button {padding:0;width:48px;height:48px;padding: 12px;border: 0;background: transparent;outline:none}
#header button i.fa {width:24px;height:24px;font-size: 24px;display:block}
nav#drawer{position: fixed;overflow-y:auto;top: 0;left: 0;padding: 3em 0 4em 0;font-size: 16px;line-height: 1;z-index: 101;background: #e7e7e7;height:100%;}
nav#drawer:after {display:block;content:'';clear:both}
nav#drawer a {color:#000}
#mainmenu li {position: relative;display:block;list-style-type:none}
#mainmenu >li {border-bottom: 1px solid #ddd}
#mainmenu >li >ul {margin: 0 0 .5em 0}
#mainmenu >li:hover >ul a {color:#000 }
#mainmenu ul >li >a {padding: .25em 0 .25em 2.25em;font-size: .9em;}
.nav a i {margin-right: .5em}
footer {margin: 1em 0}
table.tabel {}
.tabel th,
.tabel td {border: 1px solid #ccc;padding: .1em .2em;font-size: .9em}
.tabel th {border-bottom: 2px solid #333;padding: .2em;}
.tabel tr >th:first-child,
.tabel tr >td:first-child {text-align: right}
.tabel tr >th:last-child,
.tabel tr >td:last-child {text-align: center}

nav#drawer {width:300px; }
#content {min-height: calc(100vh - 128px);margin: 64px 1em 1em 1em;}
.with_drawer #content {margin: 64px 1em 1em 316px}
#content h2 {color: #d31}

#layer1 {display:none}
body {overflow-x: auto;overflow-y:scroll}
/* pembelian barang */
#layer1{position: absolute;left:200px;top:100px;width:450px;background-color:#eef4d2;border: 1px solid #000;z-index: 50;}
#layer1_handle{background-color:#265180;padding:2px;text-align:center;font-weight:bold;color: #FFFFFF;vertical-align:middle;}
#layer1_content{padding:5px;}
#close{float:right;text-decoration:none;color:#FFFFFF;}

/*
input[type='text']{font-family: "Courier New", Courier, monospace;font-size: 1.2em;}
#tableToPrint {}
*/