.row{
    max-width: 80rem;
}

#halaman-depan input{
    text-align: right;
}

.rata-tengah{
    text-align: center;
}

.rata-kanan{
    text-align: right;
}

.tabel-data th, .tabel-data td{
    font-size: 0.8rem;
}

.tombol-tabel{
    margin-bottom: 0;
}

input.stok_sebenarnya{
    margin-bottom: 0;
}

ul.pagination{
    height: auto;
}