
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../../../font/OpenSans-Light.ttf');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../../../font/OpenSans.ttf');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../../../font/OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: url('../../../font/OpenSans-LightItalic.ttf');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../../../font/OpenSans-Italic.ttf');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../../../font/OpenSans-BoldItalic.ttf');
}

.row{
    max-width: 100rem;
}

#halaman-depan, #halaman-splash{
    /*background-color : rgb(46, 228, 30);*/
    /*background-color : #33cc00;*/
    /*background-color : #00cc00;*/
    background-color : #009900;
    padding-top: 5rem;
}

#halaman-splash{
    background-color : #1a4f95;
}

#header-tengah{
    text-align: center;
    position: absolute;
    width : 100%;
}

#header-tengah #footer{
    text-align: center;	
    margin-top: 5rem;
    color: rgb(46, 228, 30);
    font-size: 2rem;
    text-transform: uppercase;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header-kiri{
    float: left;
    text-align: left;
    margin-left: 50px;
}

#header-kiri #footer{
    text-align: left;	
    margin-top: 5rem;
    color: rgb(46, 228, 30);
    font-size: 2rem;
    text-transform: uppercase;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#header-kanan{
    text-align: right;
    margin-right: 50px;
}

#header-kanan #footer{
    text-align: right;	
    margin-top: 5rem;
    color: rgb(46, 228, 30);
    font-size: 2rem;
    text-transform: uppercase;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#halaman-depan h1, #halaman-depan h4, #halaman-depan h5, .button, #halaman-input h4, #halaman-splash h4{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 300;  
    color: #fff;
}

#halaman-depan h4, #halaman-splash h4{
    font-size: 3.5rem;
}
#halaman-depan h1{
    font-size: 10rem;
}
#halaman-depan h5{
    font-size: 3.9rem;
}

#halaman-input{
    padding-top: 20px;
    background-color: #000;
    //background: #493E14 url('../img/bg.png');
    background-image: url('../img/bg-b.jpg');
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-style: normal;
    font-weight: 300;   
}
input[type="text"]{
    background-color: #000;
    color: #fff;
}
input[type="text"]:focus{
    box-shadow: 0px 0px 5px rgba(51, 255, 0, 1);
    border-color: rgba(87, 255, 0, 1);
    background-color: #000;
}

.rata-kanan{
    float: right
}
#scan{
    margin: 0 0 5px 0;
}

.sc-nomor{
    float: right;
    font-weight: 400;
}

.panel{
    padding-top: 19px;
}

.kanan{
    text-align: right;
    padding-right: 10px;
}
.tengah{
    text-align: center;
}

.button.kecil{
    margin:0;
    padding:5px 10px;
}

#footer{
    text-align: center;	
    margin-top: 5rem;
    color: rgb(46, 228, 30);
    font-size: 2rem;
    text-transform: uppercase;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}